name: Build TypeScript

on:
  push:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
      
      - run: npm ci
      
      - name: Build
        run: npm run build